<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <!-- 
      THIS IS THE SIMPLIFIED, "BACK-TO-NORMAL" VERSION.
      - Removed "white-space: nowrap;" from the <a> tag.
      - Removed the "hidden-xs" and "visible-xs" spans.
      - Added ONE span with your text, in Garnet, for all screen sizes.
    -->
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
      
      <!-- Your original, "perfect" image styling -->
      <img src="{{ site.url }}{{ site.baseurl }}/images/fus.png" alt="FSU Logo" style="height: 39px; margin-right: 5px; display: inline-block; vertical-align: text-top; margin-top: -2.2px;">
      
      <!-- One single text element for all devices -->
      <span style="color: #782F40; font-size: 21px; ">Kaschak Lab</span>

    </a>
    <!-- END OF FIX -->

	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
		  <li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/openings">Openings</a></li>
		
	<!-- li><a href="{{ site.url }}{{ site.baseurl }}/pictures">(Pics)</a></li> -->	
	  </ul>
	</div>
  </div>
</div>
